<article>
	<header>
		<h1><%= ad.title %></h1>
	</header>
	<%= image_tag(ad.photo.url :thumb) %>
	<section class="content">
		<%= sanitize(truncate(ad.description, :length => 30)) %>
		<strong><%= number_to_currency(ad.price, :unit => "&euro;", :locale => :fr,:format => "%n %u") %></strong>
		<%= link_to("See details", "#") %>
	</section>
</article>
