<%= form_for @ad do |f| %>

	<%= render 'shared/errors', :object => f.object %>
	
	<div class="field">
		<%= f.label :title,"Title of your ad (max 60 char.)" %><br />
		<%= f.text_field :title %>
	</div>
	
	<div class="field">
		<%= f.label :description,"Description (min 10 max 250 char.)" %><br />
		<%= f.text_area :description, :size => "50x6" %>
	</div>
	
	<div class="field">
		<%= f.label :category_id, "Please choose a category and a subcategory to place your ad in" %> <br />
		<%= select_tag(:root_category,options_for_select(@root_cat_options,@selected_root_category)) %>
		<%= f.select(:category_id, @sub_cat_options,:selected => @selected_sub_category) %>
	</div>	

	<div class="field">
		<%= f.label :price,"Price" %><br />
		<%= f.text_field :price, :size => "7",:maxlength => 6, :class => "float-price" %> &euro;		
	</div>
	
	<div class="actions">
		<%= f.submit "Save" %>
	</div>

<% end %>