<section id="ad-details">
	<header>
		<h1><%= @ad.title %></h1>
	</header>
	<%= image_tag(@ad.photo.url :medium) %>
	
	<article id="infos">
		<div id="description"><%= sanitize(@ad.description) %></div>	
		
		<p id="price"><strong><%= format_price(@ad.price)%></strong></p>	
		
		<section id="user-infos">
			<header>
				<h1>About seller</h1>
			</header>
			<p><strong>Sold by :</strong> <%= "#{@ad.user.firstname} #{@ad.user.lastname}" %> </p>
			<p><strong>City :</strong> <%= @ad.user.city %></p>
		</section>
	</article>
</section>

<section id="contact-seller">
	<header>
		<h1>Interested ? Contact the seller</h1>
	</header>	
	
	<%= render "shared/flash", :flash => flash %>
	
	<%= form_for @contact do |f| %>
	
	<%= render 'shared/errors', :object => f.object %>
	
	<div class="field">
		<%= f.label :email, "Your email address" %><br />
		<%= f.text_field :email %>					
	</div>
	
	<div class="field">
		<%= f.label :firstname, "Your firstname" %><br />
		<%= f.text_field :firstname %>					
	</div>
	
	<div class="field">
		<%= f.label :lastname, "Your lastname" %><br />
		<%= f.text_field :lastname %>					
	</div>
	
	<div class="field">
		<%= f.label :comment, "Your comment" %><br />
		<%= f.text_area :comment, :size => "50x7" %>					
	</div>
	
	<%= hidden_field_tag(:ad_id, @ad.id) %>		
	<div class="actions">
		<%= f.submit "Send" %>
	</div>
	<% end %>
</section>
